@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    background-image: linear-gradient(to bottom, #b92ca1, #a72aa1, #9529a0, #82289e, #6e289c, #642a9f, #592ca3, #4c2ea6, #4732b0, #4037bb, #353cc6, #2341d1);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: #2341D1;

    color: white;

    font-family: 'Poppins', sans-serif;

    /* overflow-y: hidden; */
    padding: 1rem;
}

#guildnameheader {
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: bold;
}

#module-list {
    /* Create a vertical scrollable list of <div>s */
    display: grid;
    grid-gap: 10px;
    overflow-x: hidden;
    /* overflow-y: scroll; */
    height: 50rem;

    /* Remove the scrollbar but still scrollable */
    ::-webkit-scrollbar {
        display: none;
    }
}

.module {
    /* Make the <div>s look like buttons */
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition: 0.2s;
}

#setup-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    transition: 0.2s;

    display: none;
    z-index: 1000;

    padding: 2.5rem;

    text-align: center;
}

#popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

.popup-button {
    background-color: transparent;

    padding: 0.75rem;
    border-radius: 4px;
    border: 1px solid white;

    color: white;

    font-weight: bold;
    font-size: 1.75rem;

    cursor: pointer;
}

.popup-button-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.channel-selector {
    background-color: #1e1e1e;
    
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: azure;

    color: white;

    padding: 10px;
    margin: 10px;

    display: none;
}